.main-notification {
  padding: 1rem;
  margin: 0 0 1rem 1rem;
  font-size: 1rem;
  text-indent: 0.5rem;
  color: rgb(var(--color-text));
  background: #44a4fc;
  border-radius: 1rem;

  &.warn {
    background: #ffb648;
  }

  &.error {
    background: #ed4b4b;
  }

  &.success {
    background: #68cd86;
  }
}
