.main-notification {
  padding: 1rem;
  margin: 0 0 1rem 1rem;
  font-size: 1rem;
  color: rgb(var(--color-text));
  background: hsl(209, 97%, 63%);
  border-radius: 1rem;

  &.warn {
    background: #ffb648;
  }

  &.error {
    color: #fff;
    background: #ed4b4b;
  }

  &.success {
    background: #68cd86;
  }
}
