$light-blue: #C5F6F6;
$light-blue-darken: #BFE9E9;
$dark-grey: #333333;
$dark-grey-lighten: #6F6F6F;
$black: #000000;
$grey: #A6A6A6;
$light-grey: #E9E9E9;
$extra-light-grey: #F4F4F4;
$white: #FFFFFF;