@import './default/notification';
@import './default/tooltip';
@import './classes';
@import './colors';

// Breakpoints
$tablet_breakpoint: 768px;
$desktop_breakpoint: 1280px;

// Specific styles and classes below 
.main-container {
  width: 100%;
  max-width: 450px;
  min-height: 85vh;
  // height: 85vh;

  @media screen and (max-width: $desktop_breakpoint) {
    max-width: unset;
    min-height: unset;
  }
}

.centered-page {
  width: 100vw;
  height: 100vh !important;
  background: $extra-light-grey;
  transition: all 0.2s;

  .centered-form {
    margin: auto;
    position: relative;
    top: 12%;
  }

  @media screen and (max-width: $desktop_breakpoint) {
    background: #fdfdfd;
    width: auto;
    height: calc(100vh - 60px) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .centered-form {
      position: static;
    }
  }
}

a:not(.leaflet-control-zoom-in):not(.leaflet-control-zoom-out) {
  color: rgb(var(--color-text));
  font-weight: 600;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

img {
  object-fit: cover;
}

@media screen and (max-width: $desktop_breakpoint) {
  .mobile-hidden {
    display: none !important;
  }
}

.header_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}